.container {
  width: 98%;
  max-width: 1400px;
}
h1 {
  display: inline-block;
  color: #FFF;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 140px;
  margin-bottom: -10px;
  z-index: 11;
  position: relative;
}
h1:after {
  content: "";
  display: block;
  background-color: #b7cc29;
  width: 100px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Exo 2', serif;
  color: #006371;
  padding-bottom: 20px;
}
h2:after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #b7cc29;
  margin-top: 10px;
}
.bg-blue {
  background-color: #f3feff;
}
.after:after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #b7cc29;
  margin-top: 10px;
}
h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
h3:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #b7cc29;
  margin-top: 6px;
}
/* ===== FRONT-END HELPERS =====*/
.input-ux {
  display: block;
  width: 100%;
  position: relative;
}
.input-ux .fa {
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}
.input-ux .fa-check {
  color: #30A92A;
}
.input-ux .fa-times {
  color: #D90000;
}
.input-ux .input-wrong {
  background-color: rgba(217, 0, 0, 0.15) !important;
}
.input-ux input[type=number]::-webkit-inner-spin-button,
.input-ux input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input-ux .help {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #D90000;
  display: block;
}
#toggle-menu {
  float: right;
  margin-top: 30px;
  margin-left: 20px;
  display: none;
}
#toggle-menu #navibutton {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  margin: auto;
}
#toggle-menu #navibutton .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  position: absolute;
  top: 5px;
  right: 0;
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  border-radius: 2px;
}
#toggle-menu #navibutton .line:nth-of-type(2) {
  top: 14px;
}
#toggle-menu #navibutton .line:nth-of-type(3) {
  top: 24px;
}
#toggle-menu #navibutton.show .line:nth-of-type(1) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 15px;
}
#toggle-menu #navibutton.show .line:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}
#toggle-menu #navibutton.show .line:nth-of-type(3) {
  top: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
#overlay-white {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: none;
}
#spinner {
  margin: 40px auto;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  display: none;
  position: fixed;
  z-index: 700;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
#spinner span {
  font-size: 14px;
  font-weight: 700;
}
#spinner > div {
  background-color: #6aafa5;
  height: 100%;
  width: 8px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
#spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
#spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
#spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
#spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
#cookie_bar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
}
#cookie_bar .text {
  width: 75%;
  float: left;
}
#cookie_bar .text a {
  color: #00af27;
  text-decoration: underline;
}
#cookie_bar .text a:hover {
  text-decoration: none;
}
#cookie_bar #agree {
  float: right;
  padding: 5px 10px;
  background-color: #00af27;
  border: solid 2px #00af27;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
#cookie_bar #agree :hover {
  background-color: transparent;
}
.border {
  border: solid 1px #F00;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}
#top {
  width: 40px;
  line-height: 35px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #6aafa5;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: solid 2px #6aafa5;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#top:hover {
  border: solid 2px #6aafa5;
  background-color: #6aafa5;
  color: #FFF;
}
.padding0 {
  padding: 0;
}
.paddingLR0 {
  padding-left: 0;
  padding-right: 0;
}
.paddingL0 {
  padding-left: 0;
}
.paddingL25p {
  padding-left: 25%;
}
.paddingR0 {
  padding-right: 0;
}
.paddingTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingTB80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pointer {
  cursor: pointer;
}
#background {
  position: relative;
  float: left;
  width: 100%;
  background-image: url("../img/background_image.png");
  background-size: cover;
  background-position: center center;
  /* overflow: hidden; */
  padding-top: 40px;
  padding-bottom: 40px;
}
#background .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
/* ==== HEADER ===== */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1400px;
  width: 100%;
}
#header #links {
  margin-top: 20px;
  float: right;
  font-family: "Exo 2";
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-right: 35px;
}
#header #links span {
  padding-left: 17px;
  padding-right: 17px;
}
#header #links li {
  display: inline;
  text-transform: uppercase;
  padding: 0;
}
#header #links img {
  margin-top: -8px;
}
#header #links a {
  color: #FFF;
}
#header #header-nav {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding-bottom: 25px;
}
#header #header-nav #header-logo {
  float: left;
  position: absolute;
  left: 30px;
  top: -41px;
}
#header #header-nav #header-logo img {
  width: 100%;
}
#header #header-nav #nav {
  float: right;
  padding: 0;
  margin-right: 50px;
}
#header #header-nav #nav .fa {
  font-size: 40px;
  position: relative;
  top: 17px;
}
#header #header-nav #nav .fa:hover {
  color: #b7cc29;
}
#header #header-nav #nav .fa-search {
  font-size: 27px;
}
#header #header-nav #nav > li {
  position: relative;
  margin-left: 45px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
#header #header-nav #nav > li.main .submenu {
  border: solid 1px #F00;
  position: absolute;
  left: -125px;
  top: 100px;
  padding: 0;
  z-index: 12;
  display: block;
  width: 100%;
  min-width: 750px;
  min-height: 300px;
  max-height: 520px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.09);
}
#header #header-nav #nav > li.main .submenu li {
  float: left;
  padding-left: 1em;
  padding-bottom: 15px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  border: solid 1px;
  display: block;
  width: 370px;
}
#header #header-nav #nav > li.main .submenu li:before {
  font-family: "FontAwesome";
  font-size: 16px;
  content: "\f054";
  color: #b7cc29;
  display: inline-block;
  margin-left: -1em;
  width: 1em;
  padding-right: 25px;
}
#header #header-nav #nav > li.main .submenu li a {
  color: #666666;
  text-decoration: none;
}
#header #header-nav #nav > li.main .submenu li a:hover {
  text-decoration: underline;
}
#header #header-nav #nav > li.main.active a {
  color: #b7cc29 !important;
}
#header #header-nav #nav > li.main:before {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #b7cc29;
  margin-bottom: 30px;
  transition: width 0.12s linear;
  margin-left: auto;
  margin-right: auto;
}
#header #header-nav #nav > li.main:hover:before,
#header #header-nav #nav > li.main.active:before {
  width: 100%;
}
#header #header-nav #nav > li a {
  font-family: "Exo 2";
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #006371;
}
#header #header-nav #nav > li a:hover {
  color: #b7cc29;
}
/* HOMEPAGE */
.fa.green {
  color: #b7cc29;
}
h3 {
  color: #006371;
}
.content {
  position: relative;
  float: left;
  padding: 30px 50px;
  margin-bottom: 125px;
  margin-left: -17px;
  top: 145px;
  width: 100%;
  min-height: 160px;
  max-width: 740px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.content h2 {
  padding-top: 0;
  padding-bottom: 0;
}
.content .date {
  font-family: "Exo 2";
  font-weight: 700;
  color: #006371;
}
.content p {
  width: 100%;
  display: block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 21px;
  color: #006371;
  margin-bottom: 34px;
  overflow-wrap: break-word;
}
.content .button {
  border-radius: 5px;
  background-color: #b7cc29;
  text-align: center;
  transition-duration: 0.12s;
  float: left;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
}
.content .button a {
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.12s;
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
}
.content .button a:hover {
  background-color: #006371;
}
/*  HP-BOTTOM-CONTENT */
#hp-bottom-content {
  /* HP BOTTOM-CONTENT LEFT - POSTS */
  /* HP BOTTOM-CONTENT RIGHT - EVENT CALENDAR */
}
#hp-bottom-content h2 {
  padding: 0;
  font-weight: 600;
}
#hp-bottom-content .button {
  margin-top: 60px;
  border-radius: 7px;
  background-color: #b7cc29;
  text-align: center;
  transition-duration: 0.12s;
  float: left;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
}
#hp-bottom-content .button a {
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.12s;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
}
#hp-bottom-content .button a:hover {
  background-color: #006371;
}
#hp-bottom-content .post {
  margin-top: 50px;
}
#hp-bottom-content .post .post-image {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
}
#hp-bottom-content .post .post-text {
  padding-left: 50px;
  display: inline-block;
  width: 75%;
}
#hp-bottom-content .post .post-text p {
  font-family: "Open Sans";
  font-size: 16px;
}
#hp-bottom-content .post .post-text h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 700;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 20px;
}
#hp-bottom-content .post .button {
  float: right;
  background-color: #b7cc29;
  margin-top: 18px;
  text-align: center;
  transition-duration: 0.12s;
  text-decoration: none;
  text-transform: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
}
#hp-bottom-content .post .button .fa {
  font-size: 12px;
}
#hp-bottom-content .post .button a {
  color: #ffffff;
  transition-duration: 0.12s;
  display: block;
  padding: 3px 10px;
  border-radius: 5px;
}
#hp-bottom-content .post .button a:hover {
  background-color: #006371;
}
#hp-bottom-content #event-calendar {
  background-color: #eef7f8;
  margin-top: 50px;
  border-radius: 5px;
}
#hp-bottom-content #event-calendar .event {
  padding: 0px 34px 19px 34px;
}
#hp-bottom-content #event-calendar .event:first-of-type {
  padding-top: 29px;
}
#hp-bottom-content #event-calendar .event .date {
  font-family: "Exo 2";
  font-size: 22px;
  font-weight: 700;
  color: #006371;
  padding-bottom: 9px;
}
#hp-bottom-content #event-calendar .event .description {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
}
#hp-bottom-content #event-calendar .event:after {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background-color: #b7cc29;
  margin-top: 20px;
}
#hp-bottom-content #event-calendar .event:last-of-type {
  padding-bottom: 10px;
}
#hp-bottom-content #event-calendar .event:last-of-type:after {
  content: "";
  display: block;
  width: 130px;
  height: 0px;
  background-color: #b7cc29;
  margin-top: 20px;
}
/* HP PROJECTS */
#projects {
  background-color: #FFF;
}
#projects h2 {
  color: #b7cc29;
  margin-bottom: 80px;
}
#projects h2:after {
  content: "";
  display: none;
}
#projects #project-list .eu-description {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}
#projects #project-list .eu-description:last-of-type:after {
  content: "";
  display: none;
}
#projects #project-list .project-row ul {
  padding-top: 0;
  margin-top: 60px;
}
#projects #project-list .project-row ul li {
  display: inline;
  list-style: none;
}
#projects #project-list .project-row ul li:first-of-type {
  padding-left: 0;
}
#projects #project-list .project-row ul li:last-of-type:after {
  content: "";
  display: none;
}
#projects #project-list .project-row ul li.bottom-projects {
  margin-right: 100px;
  margin-left: -100px;
}
#projects #project-list .project-row ul li.bottom-projects:after {
  content: "";
  display: none;
}
#projects #project-list .project-row ul li:after {
  content: "";
  background-color: #d3d3d3;
  display: inline-block;
  height: 120px;
  width: 2px;
  margin-bottom: -60px;
  margin-left: 55px;
  margin-right: 45px;
}
/* CONTACTS PAGE */
#contacts h2:after {
  content: "";
  display: none;
}
#contacts p {
  padding-bottom: 2px;
}
#contacts .contact {
  padding-bottom: 20px;
}
#contacts .contact.single-number {
  margin-bottom: 35px;
}
#contacts .contact span {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
}
#contacts .fa {
  color: #006371;
  padding-right: 3px;
  font-size: 16px;
}
#contacts .fa.fa-mobile {
  font-size: 24px;
  padding-right: 5px;
  padding-left: 3px;
}
#contacts .fa.fa-location-arrow {
  padding-left: 1px;
}
.map {
  padding-top: 40px;
}
.map iframe {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-bottom: -45px;
}
/* OBASH PAGE */
#path ul {
  padding-left: 0;
}
#path ul li {
  display: inline;
}
#path ul li a {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 18px;
  color: #006371;
  text-decoration: none;
}
#path ul li a:hover {
  color: #b7cc29;
}
#path ul li .fa {
  font-size: 28px;
  position: relative;
  top: 2px;
}
#path ul li:after {
  content: "/";
  color: #b7cc29;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 10px;
}
#path ul li:last-of-type:after {
  content: "";
}
#obsah h2:after,
#obsah h3:after {
  content: "";
  width: 105px;
}
#obsah h3 {
  margin-top: 0;
  font-size: 24px;
}
#obsah p {
  margin-top: 0;
  line-height: 36px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
#obsah img {
  max-width: 624px;
  margin: auto;
}
/* FOOTER */
#footer {
  background-color: #006371;
  color: #FFF;
  font-size: 16px;
  font-family: "Exo 2";
}
#footer a {
  color: #FFF;
}
#footer #copyright {
  float: left;
}
#footer #sign {
  float: right;
}
